@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto.ttf)
}

*{
    box-sizing: 'Roboto';
    margin: 0;
    padding: 0;
    font-family: 'SansSerif';
    font-size: 16px;
   
}

li, a, buttom{
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
container-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    
}



.logo{
    width:80px;
    max-width: 100%;
    max-height: 80%;
    cursor:pointer;
    margin-right: auto;
    padding-top: 10px;
    
}
.navbar{
    list-style: none;
    
}
.navbar li{
    display: inline-flex;
    padding: 0px 10px;
    
    flex-wrap: wrap;
}

.navbar li a{
    transition: all 0.3s ease 0s;
    
}



button{
    background-color: #0d0;
    border-radius: 5px;
    border-bottom: 10px;
    border-right: 10px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
    cursor:pointer;
    color: white;
    border-color:#0d0;
    height: 39px;
    }
.button{
    padding-left: 36px;
}
header{
   
    color:rgb(255, 255, 255);
   
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:35%;
    max-height:100%;
    padding-top: 20%;
    padding-left: 5%;
}
.text-box{
    align-items: center ;
}
.header-content h1{
    font-size: 53px;
}
.header-content p{
    font-size: 27px;
    font-weight: 200;
}
.text-box button{
    background-color: #0d0;
    border-radius: 5px;
    border-bottom: 10px;
    border-right: 10px;
    padding: 3px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor:pointer;
    color: white;
    border-color:#0d0;
    height: 45px;;
}


.head{
    background-image: url(../pictures/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(100%);
    min-height: 120%;
    max-width: 100%;
    
}
p{
    font-size: 1.5vw;
    
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 80%;
    padding-left: 100px;
}
.container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    
    font-size: 30px;
    flex: 1 0 auto;
    height:auto;
  }

.left1 h1{
      font-size: 50px;
      color:#18ea19
  }
.centre1 h1{
    font-size: 50px;
    color:#18ea19
}
.right1 h1{
    font-size: 60px;
    color:#18ea19
}
.left1 p{
    font-size: 25px;
    font-weight: bold;
}
.centre1 p{
  font-size: 25px;
  font-weight: bold;
}
.right1 p{
  font-size: 25px;
  font-weight: bold;
}



.container3{
    background-color: #25E200;
    text-align: center;
    align-items: center;
}
.title h1{
    color: white;
    font-size: calc((1.3 - 1) * 8.5vw + 1rem);
}
.title p{
    color: white;
    font-size: calc((1.3 - 1) * 8.5vw + 1rem);
}
.image-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid{
    width: 27%;
    align-items: center;
    cursor: pointer;
    padding: 16px;
}
.container4{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:auto;
    padding-top: 4.5%;
}
.right h1{
    font-size: 3vw;
}
.right p{
    font-size: 2vw;
    padding-left: 7%;
}
.right{
    width: 35%;
    padding-right: 15%;
    align-content: right;
    justify-content: left;
    
}
.left{
    align-items: center;
    cursor: pointer;
    width: 45%;
    padding-left: 5%;
}
.image1{
    max-width: 80%;
    height: auto;
}
.container5{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:auto;
    padding-top: 4.5%;
    text-align: center;
}
.title2 h1{
    color: black;
    font-size: 30px;
}
.logos{
    max-width: 80%;
    height: auto;
}
.art{
    max-width: 80%;
    height: auto;
}

.donors{
    max-width: 100%;
    height: auto;
    
}
.container7 h1{
    text-align: center;
    font-size: 7000px;
}
.container6{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:auto;
    text-align: center;
    background-color: #e6e6e6;
}
.title3 h1{
    color: black;
    font-size: 30px;
    padding-top: 2%;
}
.logos1{
    padding-top: 2%;
    max-width: 100%;
    height: auto;
}
.container7{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:auto;
    text-align: center;
}
.title4 h1{
    color: black;
    font-size: 40px;
    padding-top: 2%;
}
.donors{
    max-width: 80%;
    height: auto;
}
.container8{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:auto;
    text-align: center;
    background-color: #ffffff;
}
.logos2{
    width:24%;
    padding-top: 2%;
}
.title4 h1{
    color: black;
    font-size: 45px;
    padding-top: 2%;
}
.container9{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height:36%;
    text-align: center;
    background-color: #e6e6e6;
    padding-top: 2%
}
.title4 h1{
    font-size: 44px;
}
.title4 h2{
    font-size: 44px;
    font-weight: 300;
}
.title4 button{
    display: inline-block;
    width: auto;
    height: auto;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    text-transform: none;
    line-height: 1em;
    letter-spacing: .05em;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: 0em;
    font-size: 1.4rem;
    line-height: normal;
    padding: 0.8rem 1.336rem;
    background-color: black;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    height: 15%;
    
}
.logo2{
    width:100px;
    max-width: 100%;
    max-height: 100%;
    cursor:pointer;
    margin-right: auto;
    padding-top: 10px;
    color: #18ea19;
    
}

@media all and (max-width:800px){
        .header-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            width:35%;
            height:auto;
            padding-top: 20%;
            padding-left: 5%;
        }
        .head{
            background-image: url(../pictures/background.png);
            background-repeat: no-repeat;
            background-position: center center;
            filter: brightness(100%);
            height: 50%;
            max-width: 100%;
            
        }
        .text-box{
            align-items: center ;
        }
        .header-content h1{
            font-size: 20px;
        }
        .header-content p{
            font-size: 15px;
            font-weight: 200;
        }
        .container{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
            width: 80%;
            padding-left: 100px;
            justify-content: center;
            align-items: center;
        }
    }
